
<form [formGroup]="this.goalService.form" >
    <h1>Patient's goals database</h1>
<mat-form-field class="maxwd">
    <mat-label>Status code</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="proposed">Proposed</mat-option>
      <mat-option value="planned">Planned</mat-option>
      <mat-option value="accepted">Accepted</mat-option>
      <mat-option value="active">Active</mat-option>
      <mat-option value="on-hold">On hold</mat-option>
      <mat-option value="completed">Completed</mat-option>
      <mat-option value="cancelled">Cancelled</mat-option>
      <mat-option value="entered-in-error">Entered in error</mat-option>
      <mat-option value="rejected">Rejected</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="button" mat-raised-button color="primary" (click)="updateGoal()">Update status</button>
</form>

