
<h1>{{inputitem}}</h1>
<form [formGroup]="this.goalService.form" (ngSubmit)="onSubmit()">
    <mat-form-field class="maxwd">
        <mat-label>Patient name</mat-label>
        <input matInput formControlName="patientName" placeholder="John Doe" value="">
    </mat-form-field>
    <mat-form-field class="maxwd">
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" placeholder="Treatment" value="">
  </mat-form-field>
    <mat-form-field class="maxwd">
        <mat-label>Status code</mat-label>
        <mat-select [formControl]="lifecycleStatus">
          <mat-option>None</mat-option>
          <mat-option value="proposed">Proposed</mat-option>
          <mat-option value="planned">Planned</mat-option>
          <mat-option value="accepted">Accepted</mat-option>
          <mat-option value="active">Active</mat-option>
          <mat-option value="on-hold">On hold</mat-option>
          <mat-option value="completed">Completed</mat-option>
          <mat-option value="cancelled">Cancelled</mat-option>
          <mat-option value="entered-in-error">Entered in error</mat-option>
          <mat-option value="rejected">Rejected</mat-option>
        </mat-select>
        <mat-error *ngIf="lifecycleStatus.hasError('required')">Please choose a status code</mat-error>
      </mat-form-field>

    <div class="maxwd">
    <mat-label>Priority: </mat-label>
    <mat-button-toggle-group [formControl]="priority">
      <mat-button-toggle value="high">High</mat-button-toggle>
      <mat-button-toggle value="medium">Medium</mat-button-toggle>
      <mat-button-toggle value="low">Low</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
    <mat-form-field class="maxwd">
      <mat-label>Goal date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <mat-form-field class="maxwd">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="The goal is..."></textarea>
  </mat-form-field>
  <mat-form-field class="maxwd">
    <mat-label>Note:</mat-label>
    <textarea matInput formControlName="note" placeholder="Medical log"></textarea>
</mat-form-field>
    <button type="button" mat-raised-button color="primary" (click)="onSubmit()">Create goal for the patient</button>
</form>

