<div class="patcontainer">
    <div *ngFor="let goal of goals" class="patient">
        <ul class="patientlist">
            <li></li>
            <li>Status: accepted</li>
            <li>Category: none</li>
            <li>Priority: high</li>
            <li>Goal start: 2019.2.2.</li>
            <li>Goal end: 2020.4.5.</li>
            <li>Description: Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
    <!--<div class="patient">
        <ul class="patientlist">
            <li>John Doe</li>
            <li>Status: accepted</li>
            <li>Category: none</li>
            <li>Priority: high</li>
            <li>Goal start: 2019.2.2.</li>
            <li>Goal end: 2020.4.5.</li>
            <li>Description: </li>
        </ul>
    </div>
    <div class="patient">
        <ul class="patientlist">
            <li>John Doe</li>
            <li>Status: accepted</li>
            <li>Category: none</li>
            <li>Priority: high</li>
            <li>Goal start: 2019.2.2.</li>
            <li>Goal end: 2020.4.5.</li>
            <li>Description: Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, sunt id? Officiis laborum odit id, optio delectus sapiente autem consequatur voluptatibus corrupti tempore, facilis consectetur saepe minus nulla quaerat omnis.</li>
        </ul>
    </div>
    <div class="patient">
        <ul class="patientlist">
            <li>John Doe</li>
            <li>Status: accepted</li>
            <li>Category: none</li>
            <li>Priority: high</li>
            <li>Goal start: 2019.2.2.</li>
            <li>Goal end: 2020.4.5.</li>
            <li>Description: Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
    <div class="patient">
        <ul class="patientlist">
            <li>John Doe</li>
            <li>Status: accepted</li>
            <li>Category: none</li>
            <li>Priority: high</li>
            <li>Goal start: 2019.2.2.</li>
            <li>Goal end: 2020.4.5.</li>
            <li>Description: Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>-->
</div>